.sidebar {
    flex: 0.3;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 3rem 0;
}

.sidebar__header {
    display: flex;
    align-items: center;
}

.closeSidebar {
    cursor: pointer;
}

.sidebar__header img {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1.5rem;
    border-radius: 50%;
    position: relative;
    background-color: transparent;
}

.sidebar__header img::before {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    z-index: 2;
    right: 0;
    bottom: 0;
    content: '';
}

.sidebar__header p {
    font-size: 0.85rem;
    font-weight: 500;
}

.sidebar__header .logout {
    color: var(--red);
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: 1.5rem;
}
.sidebar__header .logout .logouticon
{
    padding-left: 2%;
}

.sidebar__rooms {
    list-style-type: none;
    margin-bottom: -3rem;
    padding: 5rem 0;
    overflow: scroll;
}

.navlink {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.2s;
    overflow: hidden;
    margin-right: 10%;
}

.navlink:hover {
    background-color: rgb(30, 144, 255, 0.2);
}

.navlink.active {
    background: rgb(30, 144, 255, 0.2);
}

.navlink img {
    width: 3rem;
    height: 3rem;
    flex: 0 0 3rem;
    padding: 0.25rem;
    margin-right: 1rem;
    background: var(--yellow);
    box-shadow: 0 0 0 2px var(--yellow);
    border-radius: 6rem;
}

.navlink span {
    display: inline-block;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navlink p {
    line-height: 1.4;
    opacity: 0.85;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navlink p.name {
    font-weight: 500;
    transition: all 0.2s;
}

.navlink.active p.name {
    font-weight: 600;
}

.navlink p.msg {
    font-size: 0.85rem;
    color: #19243A99;
}

.navlink p.msg b {
    font-weight: 600;
    color: var(--blue);
    opacity: 0.9;
}

.sidebar__new {
    padding: 1rem;
    border: 2px dashed blue;
    margin-bottom: 2rem;
    border-radius: 1rem;
    display: flex;
    position: relative;
    cursor: pointer;
    margin-right: 10%;
}

.sidebar__new input {
    flex: 1;
    border: none;
    width: 100%;
    background: var(--gray);
    font-family: Poppins;
    color: var(--dark);
    border-radius: 99px;
    padding: 0 1rem;
    font-size: 1rem;
}

.sidebar__new input::placeholder {
    opacity: 0.5;
    color: var(--dark);
}

.sidebar__new input:focus, .sidebar__new button:focus {
    outline: none;
}

.sidebar__new button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 99px;
    background: var(--blue);
    border: none;
    font-size: 1.5rem;
    font-family: Poppins;
    color: var(--white);
    margin-left: 0.5rem;
}

.sidebar__new::before {
    position: absolute;
    content: 'Create New Room';
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background: var(--white);
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 1rem;
    z-index: 2;
    color: blue;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s;
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {
        .sidebar__new::before {
            padding-top: 9%;
        }
    }
}

.sidebar__new.active::before {
    opacity: 0;
    transform: scale(0.85);
    top: 0.5rem;
    pointer-events: none;
}

@media screen and (max-width:480px) {
    .navlink {
        margin-right: 0;
    }
    .sidebar__new {
        margin-right: 0;
    }
    .sidebar__new::before {
        padding-top: 7%;
    }
    .sidebar__header img {
        border: none;
    }
}

@media screen and (max-width:395px) {
    .sidebar__new::before {
        padding-top: 8%;
    }
}

@media screen and (max-width:320px) {
    .sidebar__new::before {
        padding-top: 10%;
    }
}